version: 0.2

run-as: root

env:
  variables:
    GO_VERSION: 1.21

phases:
  install:
    runtime-versions:
      golang: 1.21
    commands:
      - echo $CODEBUILD_SRC_DIR && ls $CODEBUILD_SRC_DIR
  pre_build:
    commands:
        - echo $CODEBUILD_SRC_DIR && ls $CODEBUILD_SRC_DIR
  build:
    commands:
      - devops/build.sh